div{
    text-align: center;
    font-size: 50px;
    background: black;
    color: white;
}
#left {
    float:left;
    background:rgb(0, 217, 255);
    width:25%;
    height:280px;
    border-radius: 100px;
}
#mid1{
    float:left;
    background:rgb(0, 217, 255);
    width:25%;
    height:280px;
    border-radius: 100px;
}
#mid2{
    float:left;
    background:rgb(0, 217, 255);
    width:25%;
    height:280px;
    border-radius: 100px;
}
#right{
    float:right;
    background:rgb(0, 217, 255);
    width:25%;
    height:280px;
    border-radius: 100px;
}